In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
data=pd.read_csv("veriler.csv")
data.head()

  ulke  boy  kilo  yas cinsiyet
0   tr  130    30   10        e
1   tr  125    36   11        e
2   tr  135    34   10        k
3   tr  133    30    9        k
4   tr  129    38   12        e

In [3]:
from sklearn import preprocessing
le=preprocessing.LabelEncoder()

In [4]:
ulke=data.iloc[:,0:1].values
ohe=preprocessing.OneHotEncoder()
ulke=ohe.fit_transform(ulke).toarray()
df_ulke=pd.DataFrame(ulke,columns=['fr','tr','us'])

boy_kilo_yas=data.iloc[:,1:4].values
df=pd.DataFrame(boy_kilo_yas,columns=['boy','kilo','yas'])

In [5]:
frames=[df_ulke,df,data['cinsiyet']]
result = pd.concat(frames,axis=1)

In [6]:
result.head()

    fr   tr   us  boy  kilo  yas cinsiyet
0  0.0  1.0  0.0  130    30   10        e
1  0.0  1.0  0.0  125    36   11        e
2  0.0  1.0  0.0  135    34   10        k
3  0.0  1.0  0.0  133    30    9        k
4  0.0  1.0  0.0  129    38   12        e

In [7]:
from sklearn.model_selection import train_test_split

In [8]:
X=result.iloc[:,0:6].values
Y=result.iloc[:,-1].values

In [9]:
x_train,x_test,y_train,y_test=train_test_split(X,Y,test_size=0.33,random_state=0)

In [10]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
X_train=sc.fit_transform(x_train)
X_test=sc.transform(x_test)

In [11]:
from sklearn.linear_model import LogisticRegression
logr=LogisticRegression(random_state=0)
logr.fit(X_train,y_train)

LogisticRegression(random_state=0)

In [12]:
y_pred=logr.predict(X_test)

In [13]:
print(y_pred),print(y_test)

['e' 'k' 'k' 'k' 'k' 'e' 'k' 'e']
['k' 'k' 'k' 'k' 'e' 'k' 'k' 'k']

(None, None)